*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-image: url(./assets/gradient.png);
  touch-action: pan-x pan-y;
  overscroll-behavior: touch;
  scroll-behavior: smooth;
}
